<div id="txturnjs">
	<f:for each="{pages1}" as="page" iteration="pageIterator">
		<div data-url="{f:uri.page(pageUid:page,additionalParams:{type: settings.pageType})}">Loading...</div>
	</f:for>
</div>

<script type="text/javascript">
	var urls = {};
<f:for each="{pages}" as="page" iteration="pageIterator">
	urls[{pageIterator.cycle}] = '{f:uri.page(pageUid:page,additionalParams:{type: settings.pageType})}';
</f:for>
<![CDATA[

	$(document).ready(function() {

		$("#txturnjs").turn({
			pages: ]]>{count},
			<f:for each="{options}" as="value" key="option">
			{option} : '{value}',
			</f:for><![CDATA[
			/*
			width: 800,
			height: 600,
			display: ]]>'{options.display}'<![CDATA[,
			autoCenter: ]]>{options.autoCenter}<![CDATA[,
			acceleration: true,
			direction: 'ltr',
			duration: 1200,
			gradients: !$.isTouch,
			turnCorners: "tl,tr",
			*/
		});

		]]><f:if condition="{settings.includeHashjs}">
		Hash.go('/page/1');
		</f:if><![CDATA[
		
		$('#txturnjs div[data-url]').each(function() {
			var url = $(this).attr('data-url');
			var element = $(this);
			if (url) {
				$.ajax({url: url}).done(function(data) {
					element.html(data);
				});
			}
		});

		$('#txturnjs').on('turning', function(e, page) {
			var range = $(this).turn('range', page);
			
			]]><f:if condition="{settings.includeHashjs}">
			Hash.go('/page/' + page);
			</f:if><![CDATA[
			
			// load following pages
			for (page = range[0]; page<=range[1]; page++) {
				if (!$(this).turn('hasPage', page)) {
					var element = $('<div />').html('Loading...');
					$(this).turn('addPage', element, page);
					var url = urls[page];
					$.ajax({url: url, element: element}).done(function(data) {
						this.element.html(data);
					});
				}
			}
		});

		$(window).on('keydown', function(e) {
			if (e.keyCode==37) {
				$('#txturnjs').turn('previous');
			} else if (e.keyCode==39) {
				$('#txturnjs').turn('next');
			}
		});
		
		]]><f:if condition="{settings.includeHashjs}">
		$(window).on('hashchange', function(e) {
			Hash.on('/page/([0-9]+)$', function(path, parts) {
				$('#txturnjs').turn('page', parts[1]);
			});
		});
		</f:if><![CDATA[
	});
]]>
</script>